<% layout("./layouts/boilerplate") %>
<div class="row">
  <div class="col-8 offset-1 mt-3">
    <div class="card col-20 offset-2 listing-card">
      <h2><b><%= list.title %></b></h2>
      <img
        src="<%= list.image  %>"
        class="card-img-top show-img"
        alt="listing-img"
      />
      <div class="card-body">
        <p class="card-text">
          <b>Description :</b><%= list.description %> <br />
          <b>Price :</b> &#8377; <%= list.price %> <br />
          <b>Loaction :</b> <%= list.location %> <br />
          <b>Country :</b> <%= list.country %> <br />
        </p>
      </div>
      <%/* to add a autherization we are comparing the id of a current user and
      id of the owner */ %> <% if(currUser &&
      list.owner._id.equals(currUser._id)){ %>
      <div class="btns">
        <a href="/listings/<%= list._id  %>/edit" class="btn btn-dark mt-2"
          >Edit</a
        >

        <form action="/listings/<%= list.id%>?_method=DELETE" method="post">
          <button class="btn btn-dark mt-2">Delete</button>
        </form>
      </div>
      <% } %>
      <br />
      <hr />

      <div class="card col-30 listing-card">
        <br />
        <% if(currUser){ %>
        <h4>Leave a Review</h4>
        <br />
        <form
          action="/listings/<%= list._id  %>/reviews"
          method="post"
          novalidate
          class="needs-validation"
        >
          <div>
            <label for="rating" class="form-label">Rating :</label>
            <input
              type="range"
              name="review[rating]"
              id="rating"
              min="1"
              max="5"
              class="form-range"
            />
          </div>
          <br />
          <div>
            <label for="comment" class="form-label">Comment :</label>
            <textarea
              name="review[comment]"
              class="form-control"
              id="comment"
              cols="30"
              rows="3"
              required
            ></textarea>
            <div class="invalid-feedback">
              Please add some comments for review
            </div>
          </div>
          <br />
          <button class="btn btn-dark">Submit</button>
        </form>
        <br />
        <hr />
        <% } %>
        <h4>All reviews</h4>
        <br />
        <div class="row">
          <% for(review of list.reviews){ %>
          <div class="card col-5 ms-3 mb-3">
            <div class="card-body">
              <h5 class="card-title">@<%= review.author.username %></h5>
              <p class="card-text"><%= review.comment %></p>
              <p class="card-text"><%= review.rating %> Stars</p>
            </div>
            <form
              action="/listings/<%= list._id %>/reviews/<%= review._id %>?_method=DELETE"
              method="POST"
              class="mb-3 mt-2"
            >
              <button class="btn btn-sm btn-dark">Delete</button>
            </form>
          </div>

          <% } %>
        </div>
      </div>
    </div>
  </div>

  <body></body>
</div>
