<% layout("./layouts/boilerplate") %>
<div class="row">
  <div class="col-8 offset-1 mt-3">
    <div class="card col-20 offset-2">
      <h2><b><%= list.title %></b></h2>
      <img
        src="<%= list.image  %>"
        class="card-img-top show-img"
        alt="listing-img"
      />
      <div class="card-body">
        <p class="card-text">
          <b>Description :</b><%= list.description %> <br />
          <b>Price :</b> &#8377; <%= list.price %> <br />
          <b>Loaction :</b> <%= list.location %> <br />
          <b>Country :</b> <%= list.country %> <br />
        </p>
      </div>
      <div class="btns">
        <a href="/listings/<%= list._id  %>/edit" class="btn btn-dark mt-2"
          >Edit</a
        >

        <form action="/listings/<%= list.id%>?_method=DELETE" method="post">
          <button class="btn btn-dark mt-2">Delete</button>
        </form>
      </div>

      <hr />

      <div class="card col-30">
        <br />
        <h4>Leave a Review</h4>
        <br />
        <form action="/listings/<%= list._id  %>/reviews" method="post" novalidate class="needs-validation">
          <div>
            <label for="rating" class="form-label">Rating :</label>
            <input
              type="range"
              name="review[rating]"
              id="rating"
              min="1"
              max="5"
              class="form-range"
            />
          </div>
          <br />
          <div>
            <label for="comment" class="form-label">Comment :</label>
            <textarea
              name="review[comment]"
              class="form-control"
              id="comment"
              cols="30"
              rows="3"
              required
            ></textarea>
            <div class="invalid-feedback">Please add some comments for review</div>
          </div>
          <br />
          <button class="btn btn-dark">Submit</button>
        </form>
      </div>
    </div>
  </div>

  <body></body>
</div>
